* {
 margin: 0;
 padding: 0;
}

body {
 background-image: url(../img/f11.png);
 background-repeat: no-repeat;
 background-size: cover;

}

.container {
position: absolute;
margin:0 15% 0 15%;
  width:70%;
}

.logo {
	margin-top:90px;
  margin-left: 50px;
}

.contact{
 float: right;
 margin-top: 176px;
 margin-right: 100px;
}

.content {
 margin-top: -20px;
 position: relative;
 overflow: hidden;
 clear: both;
 padding-left:50px;
}

.menu {
 display: inline-block;
 padding-bottom: 40px;
}

.img{
  opacity: 0.7;
}

 .img:hover{
   width: 280px;
	 opacity: 1;
 }

.footer {
 text-align: center;
 padding-top: 165px;
 font-size: 15px;
color: #fff
}
